@import "tailwindcss";

.terminal::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --theme-bg: #000; /* default fallback */
}


.terminal:hover::-webkit-scrollbar {
  width: 5px;
}

.terminal::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 0, 0.4);
  border-radius: 3px;
}

.terminal::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes blink-cursor {
  0%, 50% { opacity: 1; background-color: #0aff0a; }
  51%, 100% { opacity: 0; background-color: transparent; }
}

.matrix-bg {
  filter: blur(0.9px) ;
}

.themed-bg {
  background: var(--theme-bg);
}

.themed-bg {
  background: var(--theme-bg);
  transition: background-color 0.5s ease;
}

[data-theme="matrix"] {
  --theme-bg: #000;
}

[data-theme="ubuntu"] {
  --theme-bg: #77216F;
}

[data-theme="tokyo"] {
  --theme-bg: #1a1b26;
}

[data-theme="one"] {
  --theme-bg: #fafafa;
}
